div#popup-window {
    min-width: 480px;
}

button#save-button {
    color: silver;
    margin-top: 4px;
}

button#save-button:hover {
    color: #337ab7;
}

button#save-button:focus {
    outline: none;
}

input#title {
    width: 98%;
}

input#signs {
    margin-top: 4px;
}
